.profile__edit-btn {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: url(../../../images/edit-btn.svg);
  background-size: 50% 50%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__edit-btn:hover {
  opacity: .6;
}
