.login__form-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 35px;
  }
  
  .login__form-item:last-of-type {
    margin: 0 0 216px;
  }
  
  @media screen and (max-width: 767px) {
    .login__form-item:last-of-type {
        margin: 0 0 45px;
    }
  }
  