.login__form-title {
    color: #fff;
    margin: 0 0 50px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px;
    }
  }
  