.element__delete-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  background: url(../../../images/delete-btn.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: 0;
  visibility: hidden;
}
