.popup__container {
  position: relative;
  display: flex;
  width: 430px;
  max-height: fit-content;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
      max-width: 282px;
      padding: 25px 22px;
  }
}
