.profile__avatar-edit-btn {
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url(../../../images/edit-avatar-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}
