.form__input {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0 0 0 / .2);
}

.form__input:active, :focus, :hover {
  outline: none;
}
